<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Import Housing and Contracts</title>
</head>
<body>
    <h1>Import Housing and Contracts</h1>
    <div id="message-bar">
        {{ message }}
    </div>
    <p>File Format is CSV</p>
    <form action="{% url 'import_view' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table>
            <tr>
                <th>
                    <label for="id_file">File:</label>
                </th>
                <td>
                    <input id="id_file" type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </td>
            </tr>
        </table>
        <ul>
            <li>
                Active Contracts <input type="submit" name="active-contracts" value="Import" />
                <div class="hint">
                    The structure of the file should be like:<br/>
                    [tenant_id], first_name, mi, last_name, email, cell_phone, home_phone, work_phone, first_day, last_day, unit_id or address, apartment, city, state, zip_code
                </div>
            </li>
            <li>
                Import New Admissions <input type="submit" name="new-admissions" value="Import" />
                <div class="hint">
                    The structure of the file should be like:<br/>
                    [tenant_id], first_name, mi, last_name, email, cell_phone, home_phone, work_phone, first_day, last_day, unit_id or address, apartment, city, state, zip_code
                </div>
            </li>
            <li>
                Import Move outs <input type="submit" name="move-outs" value="Import" />
                <div class="hint">
                    The structure of the file should be like:<br/>
                    [tenant_id] or [first_name, mi, last_name], unit_id or [address, apartment, city, state, zip_code], move_out_day
                </div>
            </li>
        </ul>

        <input type="submit" name="export" value="Export Contracts"/>
    </form>

</body>
</html>