<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Web site for {{ organization.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

    <link rel="stylesheet/less" href="{{ bootswatch_less }}" type="text/css">
    <link rel="stylesheet/less" href="{{ variable_less }}" type="text/css">
    <script src="{% static 'js/less-1.3.3.min.js' %}"></script>
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=0.00011" type="text/css">

</head>

<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-2 column" id="logo">
            <img alt="140x140" src="{{ organization.logo.url }}" class="img-rounded">
		</div>
		<div class="col-md-10 column">
            <h2 id="haweb-welcome">Welcome to {{ organization.name }}</h2>
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navigationbar">
                    <ul class="nav navbar-nav">
                        {{ menu | safe }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
{#                            <a href="{% url 'blog' %}">Blog</a>#}
                        </li>
                        <li>
{#                             <a href="{% url 'community' %}">Community </a>#}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb" id="haweb-breadcrumb">
                        {{ breadcrumb | safe }}
                    </ul>
                </div>
            </div>
        </div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-322875">
                <ol class="carousel-indicators">
                    {% for i, info in organization.carousel_info %}
                        {% if forloop.first %}
					        <li class="active" data-slide-to="{{ i }}" data-target="#carousel-322875"></li>
                        {% else %}
					        <li data-slide-to="{{ i }}" data-target="#carousel-322875"></li>
					    {% endif %}
                    {% endfor %}
				</ol>
				<div class="carousel-inner">
                    {% for i, info in organization.carousel_info %}
                        {% if forloop.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {%  endif %}
                            <img alt="1500x300" src="{{ info.picture.url }}" class="carousel_img">

                            <div class="carousel-caption">
                                <h4>{{ info.title }}</h4>
                                <p>{{ info.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-322875" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-322875" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
			</div>

		</div>
	</div>

    <div class="row clearfix" id="haweb-content">
		<div class="col-md-12 column">
            <div class="jumbotron">
                {%  block display_content %}
                    {{ content_obj.content | safe }}
                {% endblock %}
            </div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Explore
			</h2>
			<ul>
				<li>
                    <a href="{% url 'about_us' %}">About Us</a>
				</li>
			    <li>
                    <a href="{% url 'commissioner_list' %}">Commissioners</a>
				</li>
                <li>
                    <a href="{% url 'staff_list' %}">Staff</a>
				</li>
                <li>
                    <a href="{% url 'faq_list' %}">FAQs</a>
				</li>

			</ul>
		</div>
		<div class="col-md-4 column">
			<h2>
				Miscellaneous
			</h2>
			<ul>
                <li><a href="{% url 'resource_list' %}">Resources</a></li>
                <li><a href="{% url 'helpful_link_list' %}">Helpful Links</a></li>
                <li><a href="{% url 'career_list' %}">Careers</a></li>
            </ul>

		</div>
		<div class="col-md-4 column">
			<h2>
				Contact Us
			</h2>
			<p>
                <a href="{% url 'contact_us' %}">Contact Us</a>
            </p>
            <h4><a href="{% url 'get_directions' %}">Our Address</a></h4>
            {{ organization.address }} <br/>
            {{ organization.city_state_zip }}
		</div>
	</div>
</div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ bootstrap_css_url }}">


    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
